.create-bundle-modal {
  .variants-step {
    --create-bundle-modal-variants-step-pagination-height: 35px;

    display: flex;

    .n-divider {
      height: var(--create-bundle-modal-step-content-height);
    }

    .selected-items {
      flex: 0.2;

      .n-scrollbar {
        max-height: calc(var(--create-bundle-modal-step-content-height) - 10px);

        .n-scrollbar-content {
          display: flex;
          row-gap: 15px;
          flex-direction: column;

          .n-card {
            &:hover {
              cursor: pointer;
            }

            .n-card__content {
              .blueprint-info {
                display: flex;
                align-items: center;
                justify-content: space-between;

                .thumbnail {
                  width: 25px;
                  height: 25px;
                }
              }

              .require-preview {
                text-align: center;
                padding: 10px;
                color: yellow;
              }
            }
          }
        }
      }

      .n-scrollbar {
        min-height: var(--create-bundle-modal-step-content-height);
      }
    }

    .items {
      flex: 0.8;

      .n-scrollbar {
        max-height: var(--create-bundle-modal-step-content-height);
        padding-right: 15px;

        .n-scrollbar-content {
          display: flex;
          flex-direction: column;

          .wrapper {
            flex: 1;
            row-gap: 15px;
            display: inherit;
            flex-direction: column;

            .n-card {
              &.selected {
                border: 1px solid lime;
              }

              .n-card__content {
                display: flex;
                align-items: center;
                justify-content: space-between;

                .name {
                  font-size: 14px;
                }
              }
            }
          }
        }
      }
    }
  }
}
