.insights-page {
  --insights-page-height: calc(100vh - var(--header-height));
  --members-tab-footer-height: 50px;

  .n-grid {
    height: var(--insights-page-height);

    .n-layout {
      height: 100%;

      .n-layout-scroll-container {
        .content-wrapper {
          width: 100%;
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: center;

          .loading {
            width: inherit;
            height: inherit;
          }

          .logs-tab {
            .n-data-table {
              height: calc(100vh - var(--header-height) - 5px);

              .n-data-table-base-table-body {
                .n-scrollbar-content {
                  align-items: normal !important;
                }

                .description {
                  span {
                    white-space: pre-wrap;
                  }
                }
              }

              .n-data-table__pagination {
                padding: 0;
                margin: 8px 0;
                justify-content: center;
              }
            }
          }

          .activity-tab {
            width: 100%;

            .wrapper {
              width: 100%;
              height: calc(var(--insights-page-height));

              .panel {
                height: 60px;
                display: flex;
                margin: 0 10px;
                column-gap: 10px;
                align-items: center;
              }

              .chart-card {
                height: calc(var(--insights-page-height) - 60px);
                overflow: hidden;
                margin: 0;
                padding: 0;

                .n-card__content {
                  padding: 0;
                }
              }
            }
          }

          .members-tab {
            width: 100%;
            margin: 0 20px;

            .wrapper {
              .n-grid {
                height: calc(
                  var(--insights-page-height) - var(--members-tab-footer-height)
                );
                overflow: scroll;
                padding-right: 10px;

                .member-card,
                .new-member-card {
                  height: 250px;

                  .n-list-item {
                    .n-list-item__prefix {
                      flex: 1;
                    }

                    .n-list-item__main {
                      display: flex;
                      justify-content: flex-end;
                    }
                  }
                }

                .new-member-card {
                  .n-card__content {
                    row-gap: 10px;
                    display: flex;
                    align-items: center;
                    flex-direction: column;
                    justify-content: center;
                  }
                }
              }

              .n-pagination {
                height: var(--members-tab-footer-height);
                display: flex;
                align-items: center;
                justify-content: center;
              }
            }
          }
        }
      }
    }

    .n-layout-sider {
      height: 100%;
    }
  }
}
