.insights-page {
  --insights-page-height: calc(100vh - var(--header-height));
  --members-tab-footer-height: 50px;

  .n-grid {
    height: var(--insights-page-height);

    .n-layout {
      height: 100%;

      .n-layout-scroll-container {
        .content-wrapper {
          margin: 0 20px;
          display: flex;
          align-items: center;
          justify-content: center;

          .loading {
            width: 100%;
            height: 100%;
          }

          .members-tab {
            width: 100%;

            .wrapper {
              .n-grid {
                height: calc(
                  var(--insights-page-height) - var(--members-tab-footer-height)
                );
                overflow: scroll;
                padding-right: 10px;

                .member-card,
                .new-member-card {
                  height: 250px;

                  .n-list-item {
                    .n-list-item__prefix {
                      flex: 1;
                    }

                    .n-list-item__main {
                      display: flex;
                      justify-content: flex-end;
                    }
                  }
                }

                .new-member-card {
                  .n-card__content {
                    row-gap: 10px;
                    display: flex;
                    align-items: center;
                    flex-direction: column;
                    justify-content: center;
                  }
                }
              }

              .n-pagination {
                height: var(--members-tab-footer-height);
                display: flex;
                align-items: center;
                justify-content: center;
              }
            }
          }
        }
      }
    }

    .n-layout-sider {
      height: 100%;
    }
  }
}
