<!doctype html>
<html lang="en">

<head>
    <title>Mustache.js </title>
</head>

<body>
    <div class="header">
        header
    </div>

    <div class="body">
        {{#content}}{{/content}}
    </div>

    <div class="footer">
        footer
    </div>
</body>

</html>