<!doctype html>
<html lang="en">

<head>
    <title>itvault</title>
</head>

<body>
    <div class="header">
        🔐
    </div>

    <br/>

    <div class="body">
        {{>content}}
    </div>

    <br/>

    <div class="footer">
        This email was sent from itvault application. If that mail was sent by mistake, please ignore it.
    </div>
</body>

</html>