<div>
    Hello {{email}},
    your account is almost ready to use! Use following code*

    <div>
        <strong>{{code}}</strong>
    </div>

    and complete registration process by clicking <a href="{{href}}">here</a>

    <div>
        *Pay attention to pasted <strong>code</strong>. If they won't match, after 2 attempts account will be blocked.
    </div>
</div>
