<div>
    Hello {{email}},
    your account is almost ready to use! Complete registration process by clicking <a href="{{href}}">here</a>

    <div>
        If this email was not inteded for you, please ignore it.
    </div>
</div>
