<div>
    Hello <strong>{{email}}</strong> 👋,
    
    <div>
        your account is almost ready to use! Complete registration process by clicking 
        <br/>
        <a href="{{href}}">here</a>
    </div>
</div>
