<div>
    Welcome <strong>{{firstName}} {{lastName}}</strong>, 
    
    <div style="padding: 20px; text-align: center;"> 
        your account is almost ready to use at <a href="{{appHref}}" target="_blank">{{appHref}}</a>! To complete registration process, please click the following link: 
        
        <div style="text-align:center; margin:15px 0;">
            <a href="{{signUpHref}}" target="_blank">{{signUpHref}}</a>
        </div> 
   
        to set up password and start using application 🔥In case of any trouble, please contact IT team or member that informed you of creating account.
    </div>
</div>
