.dashboard-page {
  .grid {
    display: flex;

    .other-cards-wrapper,
    .profile-card-wrapper,
    .workspaces-card-wrapper {
      display: inherit;
    }

    .profile-card-wrapper {
      .n-card {
        .content {
          .scrollable-data {
            display: flex;

            .access,
            .timeline {
              flex: 1;

              .n-scrollbar {
                max-height: 300px;
              }

              .title {
                margin-bottom: 10px;
                font-size: 15px;
              }
            }

            .access {
              height: 100%;

              .levels {
                gap: 10px;
                display: flex;
                flex-wrap: wrap;
              }
            }
          }

          .statistics {
            display: flex;
            text-align: center;
            justify-content: space-around;
          }
        }
      }
    }

    .ref-card {
      .actions {
        display: flex;
        justify-content: right;

        .n-button {
          .n-icon {
            margin-left: 3px;
          }
        }
      }
    }

    .workspaces-card-wrapper {
      .n-card {
        .n-thing {
          .n-thing-main {
            .n-thing-main__content {
              .content {
                .actions {
                  display: flex;
                  margin-top: 20px;
                  justify-content: space-between;
                }

                .n-data-table {
                  height: 100%;
                  min-height: 300px;

                  .n-data-table__pagination {
                    justify-content: center;
                  }
                }

                .n-input {
                  margin-bottom: 10px;
                }
              }
            }
          }
        }
      }
    }
  }
}
