.dashboard-page {
  &.page {
    margin: var(--page-margin);
  }

  .grid {
    display: flex;

    .other-cards-wrapper,
    .permissions-wrapper,
    .workspaces-card-wrapper {
      display: inherit;
    }

    .permissions-wrapper,
    .workspaces-card-wrapper {
      min-height: 20vh;
    }

    .other-cards-wrapper {
      min-height: 6vh;
    }

    .content-card {
      .n-thing {
        height: 100%;
        --header-height: 41.2px;

        .n-thing-main {
          .n-thing-avatar-header-wrapper {
            height: var(--header-height);
            margin-bottom: 5px;
          }

          .n-thing-main__content {
            margin: 0;
            height: calc(100% - var(--header-height));
          }
        }
      }

      .actions {
        display: flex;
        justify-content: center;

        .n-button {
          .n-icon {
            margin-left: 3px;
          }
        }
      }
    }

    .other-cards-wrapper {
      .n-grid {
        .other-card-wrapper {
          .n-card {
            height: 100%;

            .n-thing {
              .n-thing-main {
                .n-thing-main__content {
                  .content {
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;

                    .description {
                      height: inherit;
                      display: inherit;
                      align-items: center;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }

    .permissions-wrapper {
      .n-card {
        .n-scrollbar {
          max-height: calc(100vh * 0.6);
        }
      }

      .permissions-grid {
        width: 100%;

        .label {
          display: flex;
          text-align: left;
          align-items: center;
          justify-content: flex-start;
        }

        .empty-wrapper {
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
    }

    .workspaces-card-wrapper {
      .n-card {
        .n-thing {
          .n-thing-main {
            .n-thing-main__content {
              .content {
                height: 100%;
                display: flex;
                flex-direction: column;

                .actions {
                  display: flex;
                  margin-top: 20px;
                  justify-content: center;
                }

                .n-data-table {
                  height: 100%;
                  min-height: 250px;

                  .n-data-table__pagination {
                    justify-content: center;
                  }

                  .tags-row {
                    gap: 10px;
                    display: flex;
                    flex-wrap: wrap;
                  }
                }

                .n-input {
                  margin-bottom: 20px;
                }
              }
            }
          }
        }
      }
    }
  }
}
