.dashboard-page {
  --workspaces-card-input-height: 40px;
  --workspaces-card-input-margin-bottom-height: 10px;
  /* see Workspaces.vue */
  --workspaces-card-list-height: 500px;
  --workspaces-card-content-height: calc(
    500px + var(--workspaces-card-input-height) +
      var(--workspaces-card-input-margin-bottom-height)
  );

  &.page {
    margin: var(--page-margin);
  }

  .grid {
    .workspaces-card-wrapper {
      display: inherit;
    }

    .workspaces-card-wrapper {
      min-height: 20vh;
    }

    .content-card {
      .n-thing {
        height: 100%;
        --header-height: 41.2px;

        .n-thing-main {
          .n-thing-avatar-header-wrapper {
            height: var(--header-height);
            margin-bottom: 5px;
          }

          .n-thing-main__content {
            margin: 0;
            height: calc(100% - var(--header-height));
          }
        }
      }

      .actions {
        display: flex;
        justify-content: center;

        .n-button {
          .n-icon {
            margin-left: 3px;
          }
        }
      }
    }

    .workspaces-card-wrapper {
      .n-card {
        .n-thing {
          .n-thing-main {
            .n-thing-main__content {
              .n-input {
                height: var(--workspaces-card-input-height);
                margin-bottom: 5px;
              }

              .content {
                .loading {
                  width: 100%;
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  height: var(--workspaces-card-list-height);
                }

                .n-list {
                  width: 100%;

                  .n-list-item {
                    margin-right: 20px;

                    .n-thing {
                      .n-thing-main {
                        .n-thing-avatar-header-wrapper {
                          height: auto;
                        }
                      }
                    }
                  }
                }

                .n-pagination {
                  padding: 10px 0 5px 0;
                  justify-content: center;
                }
              }
            }
          }
        }
      }
    }
  }
}
