.guest-page {
  .n-grid {
    height: 100%;

    .header-grid-item {
      display: flex;
      flex-direction: column;

      .title {
        display: inherit;
        font-size: 7.2vw;
        justify-content: center;
      }

      .subtitle {
        opacity: 0.2;
        display: flex;
        font-size: 4vw;
        justify-content: center;
      }
    }

    .quote-grid-item {
      display: flex;
      justify-content: center;

      .wrapper {
        opacity: 0.2;
        width: 255px;
        margin-top: 20px;

        .author {
          text-align: right;
        }
      }
    }

    .button-grid-item {
      display: flex;
      margin-top: 70px;
      justify-content: center;

      .n-button {
        width: 150px;
        height: 60px;
        font-size: 20px;
      }
    }
  }

  .theme-selector {
    left: 0;
    opacity: 0.5;
    z-index: 9999;
    position: absolute;
    top: 5px;

    &:hover {
      opacity: 1;
    }
  }
}
