.guest-page {
  .n-grid {
    --common-margin: 60px;
    height: 100%;

    .brand {
      margin: var(--common-margin) 0;

      .primary-content {
        font-size: 70px;

        .n-icon {
          font-size: 70px;
        }
      }

      .extra-text {
        bottom: -10px;
        position: absolute;
      }
    }

    .bottom-buttons {
      gap: 20px;
      display: flex;
      justify-content: center;

      .n-button {
        width: 200px;
        display: flex;
        height: 250px;
        font-size: 20px;

        .n-button__content {
          display: block;

          .primary-icon {
            font-size: 60px;
            margin-bottom: 10px;
          }
        }
      }
    }

    .feature {
      display: flex;
      margin: 0 10px;
      justify-content: left;

      .icon-wrapper {
        width: 110px;
        display: flex;
        height: 110px;
        position: relative;
        align-items: center;
        border-radius: 100%;
        justify-content: center;
        background-color: #0074d8;

        .n-icon {
          color: white;
          font-size: 70px;
          position: absolute;
        }
      }

      .text-wrapper {
        margin-left: 30px;

        .header {
          font-size: 25px;
          text-decoration: underline;
        }
      }
    }

    .label {
      font-size: 30px;
      text-align: center;
    }

    .top-buttons {
      display: flex;
      justify-content: center;
      margin-bottom: var(--common-margin);

      a {
        text-decoration: none;
      }

      .n-button {
        display: flex;
        height: 150px;
        font-size: 20px;
        min-width: 350px;

        .n-button__content {
          display: block;

          .primary-icon {
            font-size: 60px;
            margin-bottom: 10px;
          }
        }
      }
    }
  }

  .theme-selector {
    left: 0;
    opacity: 0.5;
    z-index: 9999;
    position: absolute;
    top: 5px;

    &:hover {
      opacity: 1;
    }
  }
}
