.roles-page {
  margin: 0 10px;

  --tab-pane-height: calc(
    100vh - var(--header-height) - var(--roles-header-height) -
      var(--roles-tabs-height) - var(--roles-bottom-margin)
  );

  .header {
    display: flex;
    column-gap: 20px;
    align-items: center;
    height: var(--roles-header-height);

    .n-input {
      width: 35%;
    }
  }

  .n-grid {
    .n-data-table {
      height: calc(
        100vh - var(--header-height) - var(--roles-header-height) -
          var(--roles-bottom-margin)
      ) !important;

      .n-data-table-base-table-body {
        .n-scrollbar-content {
          align-items: normal !important;
        }

        .description {
          span {
            white-space: pre-wrap;
          }
        }
      }

      .n-data-table__pagination {
        justify-content: center;
      }
    }

    .n-card {
      .n-card__content {
        padding: 0;
        height: calc(100vh - var(--header-height) - var(--roles-header-height));

        .n-tabs {
          .n-tabs-nav {
            height: var(--roles-tabs-height);
          }

          .n-tabs-pane-wrapper {
            .n-tab-pane {
              .loading {
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                height: var(--tab-pane-height);
              }

              .tab-scroll {
                min-height: var(--tab-pane-height);
                max-height: var(--tab-pane-height);

                .n-scrollbar-content {
                  .n-form {
                    margin: 10px 20px 0 10px;

                    .n-form-item {
                      margin: 0;

                      .group {
                        display: flex;
                        min-height: 100px;
                        margin-right: 15px;
                        align-items: center;
                        justify-content: center;

                        span {
                          transform: rotate(-30deg);
                        }
                      }

                      .permissions {
                        display: flex;
                        align-items: center;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
