.roles-page {
  .header {
    display: flex;
    margin: 0 10px;
    align-items: center;
    justify-content: space-between;
    height: var(--roles-header-height);

    .n-input {
      width: 35%;
    }
  }

  .n-data-table {
    height: calc(
      100vh - var(--header-height) - var(--roles-header-height) -
        var(--roles-footer-height)
    ) !important;

    .n-data-table-wrapper {
      margin: 0 10px;
    }

    .n-data-table-base-table-body {
      .n-scrollbar-content {
        align-items: normal !important;
      }
    }

    .n-data-table__pagination {
      justify-content: center;
    }
  }
}
