.sign-up-page {
  display: flex;
  align-items: center;
  justify-content: center;

  .n-card {
    width: 90vw;
    height: 90vh;

    .n-card__content {
      padding: 0;
      height: 100%;

      .n-scrollbar {
        max-height: 90vh;

        .n-scrollbar-container {
          .n-scrollbar-content {
            padding: 15px;
            display: flex;
            flex-direction: column;

            .n-grid {
              flex: 1;
              height: 100%;

              .section {
                height: 100%;

                .banner {
                  height: 100%;
                  display: flex;
                  flex-direction: column;
                  justify-content: space-evenly;

                  .element {
                    text-align: center;
                  }

                  .main-description {
                    margin: 0 30px;
                  }
                }

                .form-wrapper {
                  height: 100%;
                  display: flex;
                  flex-direction: column;
                  justify-content: space-between;

                  .warning {
                    text-align: center;
                  }

                  .n-button {
                    margin-top: 20px;
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  .theme-selector {
    left: 0;
    opacity: 0.5;
    z-index: 9999;
    position: absolute;
    top: 5px;

    &:hover {
      opacity: 1;
    }
  }
}
