.users-page {
  margin: 0 10px;

  .header {
    display: flex;
    column-gap: 20px;
    align-items: center;
    height: var(--users-header-height);

    .n-input {
      width: 35%;
    }
  }

  .n-data-table {
    height: calc(
      100vh - var(--header-height) - var(--users-header-height) -
        var(--users-bottom-margin)
    ) !important;

    .n-data-table-base-table-body {
      .n-scrollbar-content {
        align-items: normal !important;
      }
    }

    .n-data-table__pagination {
      justify-content: center;
    }
  }
}
