@import "../blueprints-tab.css";
@import "../files-tab.css";

.workspace-page {
  height: calc(100vh - var(--header-height)) !important;

  .sider {
    .n-tabs {
      .n-tabs-tab--active,
      .n-tabs-tab:hover {
        color: var(--primary-color);
      }

      .n-tabs-bar {
        background-color: var(--primary-color);
      }

      .n-tabs-nav {
        height: var(--workspace-sider-tabs-height);
      }

      .n-tab-pane {
        padding-top: 0;
      }
    }
  }

  .main-content-wrapper {
    width: 100%;

    .empty-section {
      height: var(--workspace-main-content-height);
    }

    .file-page {
      height: var(--workspace-main-content-height);

      --file-page-card-header-height: 0.2;

      .n-card {
        height: 100%;

        .n-card-header {
          padding: 0;

          .card-header {
            display: flex;
            padding: 0 10px;
            align-items: center;
            justify-content: space-between;
            height: calc(
              var(--workspace-main-content-height) *
                var(--file-page-card-header-height)
            );

            .timeline-wrapper {
              flex: 0.8;
            }

            .actions {
              flex: 0.2;
              text-align: right;
            }
          }
        }
      }
    }
  }

  .n-layout {
    height: 100%;

    .n-layout-sider {
      height: inherit;

      .n-scrollbar-container {
        height: inherit;

        .n-scrollbar-content {
          height: inherit;
          overflow: unset;
          display: block !important;

          .blueprints-wrapper {
            height: 40%;
          }

          .files-wrapper {
            height: 60%;
          }
        }
      }
    }
  }
}
