version: "3.8"

services:
  db:
    image: mysql:8.0
    container_name: ${DATABASE_CONTAINER_NAME}
    restart: unless-stopped
    environment:
      MYSQL_DATABASE: ${DATABASE_NAME}
      MYSQL_ROOT_PASSWORD: ${DATABASE_ROOT_PASSWORD}
    ports:
      - "127.0.0.1:${DATABASE_PORT}:${DATABASE_CONTAINER_PORT}"
    volumes:
      - db:/var/lib/mysql

  redis:
    image: bitnami/redis
    container_name: ${REDIS_CONTAINER_NAME}
    restart: unless-stopped
    ports:
      - ${REDIS_PORT}:${REDIS_CONTAINER_PORT}
    volumes:
      - redis:/var/lib/redis
    environment:
      - REDIS_PASSWORD=${REDIS_PASSWORD}

  # https://dsinecos.github.io/blog/Multi-container-application-using-docker-compose
  rabbitmq:
    image: rabbitmq:3.12
    container_name: ${RABBITMQ_CONTAINER_NAME}
    restart: unless-stopped
    ports:
      - ${RABBITMQ_PORT}:${RABBITMQ_CONTAINER_PORT}
      - ${RABBITMQ_CONSOLE_PORT}:${RABBITMQ_CONSOLE_CONTAINER_PORT}
    volumes:
      - mqrabbit:/var/lib/rabbitmq
    environment:
      - RABBITMQ_DEFAULT_USER=${RABBITMQ_DEFAULT_USER}
      - RABBITMQ_DEFAULT_PASS=${RABBITMQ_DEFAULT_PASSWORD}

  maildev:
    container_name: mailcatcher
    restart: unless-stopped
    image: maildev/maildev
    ports:
      - "127.0.0.1:1025:1025"
      - "127.0.0.1:${MAIL_CATCHER_PORT}:${MAIL_CATCHER_CONTAINER_PORT}"

volumes:
  db:
  redis:
  mqrabbit:
