.workspace-page {
  .main-content-wrapper {
    --file-page-card-header-height: 120px;
    --content-height: calc(
      var(--workspace-main-content-files-height) -
        var(--file-page-card-header-height)
    );
    --file-page-variants-tab-height: 50px;

    .empty-section {
      height: calc(100vh - var(--header-height));
    }

    .file-page {
      .empty-section {
        height: var(--content-height);
      }

      .n-tabs {
        .n-tabs-nav {
          height: var(--workspace-main-content-files-tabs-height);
        }
      }

      .n-card {
        .n-card-header {
          padding: 0;

          .card-header {
            display: flex;
            padding: 0 10px;
            align-items: center;
            justify-content: space-between;
            height: var(--file-page-card-header-height);

            .timeline-wrapper {
              flex: 0.8;

              .n-timeline-item-content {
                text-align: left;
              }
            }

            .actions {
              flex: 0.2;
              text-align: right;
            }
          }
        }

        .n-card__content {
          padding: 0;

          .variant-viewer {
            height: 100%;

            .n-tabs {
              .n-tabs-nav {
                height: var(--file-page-variants-tab-height);
              }

              .n-tab-pane {
                height: calc(
                  var(--workspace-main-content-files-height) -
                    var(--file-page-card-header-height) -
                    var(--file-page-variants-tab-height)
                );
                display: flex;

                .line-numbers {
                  flex: 0.02;
                  text-align: center;

                  span {
                    counter-increment: linenumber;

                    &::before {
                      content: counter(linenumber);
                      display: block;
                      color: #506882;
                    }
                  }
                }

                .text-render {
                  flex: 0.98;
                }
              }
            }
          }
        }
      }
    }
  }
}
