.workspace-page {
  .sider {
    .blueprints-tab {
      height: 100%;

      --blueprints-toolbar-height: 0.1;
      --blueprints-list-height: 0.83;
      --blueprints-footer-height: 0.07;

      --blueprints-scrollbar-section-height: calc(
        var(--workspace-sider-content-height) * var(--blueprints-list-height)
      );

      .tab-toolbar {
        display: flex;
        padding: 0 10px;
        column-gap: 10px;
        align-items: center;
        height: calc(
          var(--workspace-sider-content-height) *
            var(--blueprints-toolbar-height)
        );
      }

      .n-scrollbar {
        min-height: var(--blueprints-scrollbar-section-height);
        max-height: var(--blueprints-scrollbar-section-height);

        .spinner {
          display: flex;
          align-items: center;
          justify-content: center;
          height: var(--blueprints-scrollbar-section-height);
        }

        .n-list {
          padding: 10px 0;

          .wrapper {
            display: flex;
            align-items: center;
            justify-content: space-between;

            .content {
              display: flex;
              align-items: center;

              .thumbnail {
                width: 15px;
                height: 15px;
                margin-right: 5px;
              }
            }
          }
        }
      }

      .footer {
        padding: 0;
        display: flex;
        column-gap: 5px;
        align-items: center;
        justify-content: center;
        height: calc(
          var(--workspace-sider-content-height) *
            var(--blueprints-footer-height)
        );
      }
    }
  }
}
