.data-page {
  .sider {
    .bundles-tab {
      --bundles-toolbar-height: 0.1;
      --bundles-content-height: 0.83;
      --bundles-footer-height: 0.07;

      --bundle-scrollbar-section-height: calc(
        var(--workspace-sider-content-height) * var(--bundles-content-height)
      );

      .tab-toolbar {
        display: flex;
        padding: 0 10px;
        column-gap: 10px;
        align-items: center;
        height: calc(
          var(--workspace-sider-content-height) * var(--bundles-toolbar-height)
        );
      }

      .n-scrollbar {
        min-height: var(--bundle-scrollbar-section-height);
        max-height: var(--bundle-scrollbar-section-height);

        .loading {
          display: flex;
          align-items: center;
          justify-content: center;
          height: var(--bundle-scrollbar-section-height);
        }

        .n-list {
          display: flex;
          row-gap: 15px;
          padding: 10px 0;
          flex-direction: column;

          .n-list-item {
            padding: 0 10px;

            &:hover {
              cursor: pointer;
            }

            .single-bundle {
              .n-thing-header {
                .n-thing-header__title {
                  width: 100%;
                  display: flex;
                  align-items: center;
                  justify-content: space-between;
                }
              }

              .n-thing-main__footer {
                display: flex;
                justify-content: space-between;
              }
            }
          }
        }
      }

      .footer {
        display: flex;
        align-items: center;
        justify-content: center;
        height: calc(
          var(--workspace-sider-content-height) * var(--bundles-footer-height)
        );
      }
    }
  }
}
