.data-page {
  .sider {
    .files-tab {
      height: 100%;

      --files-toolbar-height: 0.1;
      --files-tree-height: 0.9;

      --files-tree-scrollbar-section-height: calc(
        var(--workspace-sider-content-height) * var(--files-tree-height)
      );

      .n-tree {
        .n-tree-node {
          height: 25px;

          .n-button {
            height: 20px;
            display: flex;
            align-items: center;

            .n-icon {
              display: flex;
              font-size: 15px;
              align-items: center;
            }
          }
        }
      }

      .file-upload-alert {
        margin: 15px;

        .n-alert-body__content {
          margin-right: 15px;
        }
      }

      .tab-toolbar {
        display: flex;
        padding: 0 10px;
        column-gap: 10px;
        align-items: center;
        height: calc(
          var(--workspace-sider-content-height) * var(--files-toolbar-height)
        );
      }

      .n-scrollbar {
        min-height: var(--files-tree-scrollbar-section-height);
        max-height: var(--files-tree-scrollbar-section-height);

        .loading {
          display: flex;
          align-items: center;
          justify-content: center;
          height: var(--files-tree-scrollbar-section-height);
        }
      }
    }
  }
}
