.create-bundle-modal {
  --create-bundle-modal-height: 90vh;
  --create-bundle-modal-header-height: 50px;
  --create-bundle-modal-steps-height: 80px;
  --create-bundle-modal-actions-height: 50px;
  --create-bundle-modal-step-content-height: calc(
    var(--create-bundle-modal-height) - var(--create-bundle-modal-header-height) -
      var(--create-bundle-modal-steps-height) -
      var(--create-bundle-modal-actions-height)
  );

  --create-bundle-modal-blueprints-step-selected-header-height: 30px;
  --create-bundle-modal-blueprints-step-pagination-height: 35px;

  width: 80%;
  height: var(--create-bundle-modal-height);

  .n-card-header {
    height: var(--create-bundle-modal-header-height);
  }

  .n-card__content {
    .steps-wrapper {
      .n-steps {
        display: flex;
        align-items: center;
        height: var(--create-bundle-modal-steps-height);
      }
    }

    .blueprints-step {
      display: flex;

      .n-divider {
        height: var(--create-bundle-modal-step-content-height);
      }

      .selected-items {
        flex: 0.2;

        .header {
          margin: 0;
          height: var(
            --create-bundle-modal-blueprints-step-selected-header-height
          );
        }

        .n-scrollbar {
          min-height: calc(
            var(--create-bundle-modal-step-content-height) -
              var(--create-bundle-modal-blueprints-step-selected-header-height)
          );
        }
      }

      .items {
        flex: 0.8;

        .n-scrollbar {
          max-height: calc(
            var(--create-bundle-modal-step-content-height) -
              var(--create-bundle-modal-blueprints-step-pagination-height)
          );
          padding-right: 15px;

          .n-grid {
            padding: 20px 0;

            .n-card {
              .n-card__content {
                display: flex;
                justify-content: space-between;

                .thumbnail {
                  width: 25px;
                  height: 25px;
                }
              }
            }
          }
        }

        .n-pagination {
          display: flex;
          align-items: center;
          justify-content: center;
          height: var(--create-bundle-modal-blueprints-step-pagination-height);
        }
      }
    }

    .actions {
      display: flex;
      justify-content: space-between;
      height: var(--create-bundle-modal-actions-height);
    }
  }
}
