html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;

  #app {
    height: inherit;

    .n-config-provider {
      height: inherit;

      main {
        .global-layout {
          .n-layout-content {
            height: 100vh;
          }
        }

        &.with-app-header {
          .global-layout {
            .n-layout-content {
              height: calc(100vh - var(--header-height));
            }
          }
        }

        .n-scrollbar {
          .n-scrollbar-content {
            display: flex;
            min-height: 100%;
            align-items: center;
          }
        }

        .page {
          width: 100%;
          height: 100%;
        }
      }
    }
  }
}

.app-header {
  display: flex;
  align-items: center;
  height: calc(var(--header-height));

  .n-page-header-content {
    width: 100%;
    margin: 0 10px;
    display: inherit;
    align-items: center;
    justify-content: space-between;

    a {
      display: inherit;
      width: fit-content;
      text-decoration: none;
    }

    .brand {
      font-size: 22px;

      &:hover {
        cursor: pointer;
      }
    }

    .location {
      margin: 0 10px;
      overflow: hidden;
      text-align: center;
      white-space: nowrap;
      align-items: center;
      text-overflow: ellipsis;
    }

    .actions {
      display: inherit;
      column-gap: 10px;
      align-items: center;
      justify-content: right;
    }
  }
}

.brand {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;

  .primary-content {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;

    .n-icon {
      margin: 0 5px 0 0;
    }
  }

  .extra-text {
    bottom: 0;
    position: absolute;
  }
}

.w-100 {
  width: 100%;
}

.align-center {
  display: flex;
  align-items: center;
}

.text-center {
  text-align: center;
}
