:root {
  --page-margin: 15px;
  --header-height: 60px;
  --primary-color: #8895ff;
  --sidebar-top-panel-height: 60px;
  --sidebar-bottom-panel-height: 30px;

  /* WORKSPACE - SIDER */
  --workspace-sider-tabs-height: 42px;
  --workspace-sider-content-height: calc(
    100vh - var(--header-height) - var(--workspace-sider-tabs-height)
  );

  /* WORKSPACE - MAIN CONTENT */
  --workspace-main-content-files-tabs-height: 40px;
  --workspace-main-content-file-page-height: calc(100vh - var(--header-height));

  /* USERS */
  --users-header-height: 9vh;
  --users-bottom-margin: 20px;

  /* ROLES */
  --roles-header-height: 9vh;
  --roles-tabs-height: 43px;
  --roles-bottom-margin: 20px;

  /* GLOBAL CHAT */
  --global-chat-footer-height: 50px;
}
