.add-edit-message-drawer {
  height: 60vh;

  .n-drawer-content {
    .n-drawer-body {
      .n-drawer-body-content-wrapper {
        padding: 0;

        .n-tabs {
          height: 100%;
          overflow: hidden;

          .n-tabs-nav {
            .n-tabs-nav-scroll-wrapper {
              .n-tabs-wrapper {
                margin-left: 10px;
              }

              .n-tabs-bar {
                margin-left: 10px;
              }
            }
          }

          .n-tab-pane {
            height: 100%;
            margin-top: 5px;
            overflow: scroll;

            .preview {
              margin: 0 10px;
            }

            .n-form {
              height: inherit;

              .n-form-item {
                height: inherit;

                .n-input {
                  height: 100%;
                  overflow: scroll;
                }
              }
            }
          }
        }
      }
    }

    .n-drawer-footer {
      display: flex;
      justify-content: space-between;
    }
  }
}
