.settings-page {
  .n-grid {
    height: calc(100vh - var(--header-height));

    .n-layout {
      height: 100%;
    }

    .n-layout-sider {
      height: 100%;
    }
  }

  .content-wrapper {
    margin: 0 20px;

    .n-form {
      max-width: 800px;
    }
  }
}
