.data-page {
  .main-content-wrapper {
    --file-page-variants-nav-height: 45px;
    --file-page-variant-toolbar-height: 50px;

    --variant-source-code-height: calc(
      var(--workspace-main-content-file-page-height) -
        var(--workspace-main-content-files-tabs-height) -
        var(--file-page-variants-nav-height) -
        var(--file-page-variant-toolbar-height)
    );

    .empty-section {
      height: var(--workspace-main-content-file-page-height);
    }

    .file-page {
      height: var(--workspace-main-content-file-page-height);

      .empty-section {
        height: calc(
          var(--workspace-main-content-file-page-height) -
            var(--workspace-main-content-files-tabs-height)
        );
      }

      .sider {
        height: var(--workspace-main-content-file-page-height);

        .wrapper {
          padding: 10px 10px;
        }
      }

      .n-layout-content {
        height: var(--workspace-main-content-file-page-height);

        /* file tabs */
        .n-tabs {
          .n-tabs-nav {
            height: var(--workspace-main-content-files-tabs-height);
          }
        }

        .n-card {
          .n-card-header {
            padding: 0;
          }

          .n-card__content {
            padding: 0;

            .variants {
              /* variant tabs */
              .n-tabs {
                .n-tabs-nav {
                  height: var(--file-page-variants-nav-height);
                }

                .n-tab-pane {
                  .variant-viewer {
                    height: 100%;
                    transition-delay: 0.2s;
                    transition-duration: 0.1s;
                    transition-property: width;
                    transition-timing-function: linear;

                    .loading,
                    .empty-section {
                      height: calc(
                        var(--file-page-variant-toolbar-height) +
                          var(--variant-source-code-height)
                      );
                    }

                    .toolbar {
                      padding: 0px 8px;
                      background: rgba(153, 165, 184, 0.3);
                      height: var(--file-page-variant-toolbar-height);

                      .n-card__content {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                      }
                    }

                    .n-scrollbar {
                      min-height: var(--variant-source-code-height);
                      max-height: var(--variant-source-code-height);

                      .n-scrollbar-content {
                        .content {
                          width: 100%;
                          display: flex;

                          .line-numbers {
                            min-width: 35px;
                            text-align: right;
                            margin-right: 30px;

                            span {
                              counter-increment: linenumber;

                              &::before {
                                content: counter(linenumber);
                                display: block;
                                color: #656f78;
                              }
                            }
                          }

                          .text-render {
                            margin: 0;
                            width: 100%;
                            margin: 0 15px 15px 0px;
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
