.blueprints-wrapper {
  height: 100%;
  padding: 9px;

  .blueprints {
    height: 100%;

    .header {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    .n-card {
      height: 100%;

      .n-list {
        .wrapper {
          display: flex;
          align-items: center;
          justify-content: space-between;

          .content {
            display: flex;
            align-items: center;

            .thumbnail {
              width: 15px;
              height: 15px;
              margin-right: 5px;
            }
          }
        }
      }
    }
  }
}
