.blueprints-tab {
  height: 100%;
  padding: 9px;

  .blueprints {
    height: 100%;

    .header {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    .n-card {
      .n-card__content {
        padding: 0;

        .n-scrollbar {
          max-height: var(--workspace-blueprints-section-height);

          .n-list {
            .wrapper {
              display: flex;
              align-items: center;
              justify-content: space-between;

              .content {
                display: flex;
                align-items: center;

                .thumbnail {
                  width: 15px;
                  height: 15px;
                  margin-right: 5px;
                }
              }
            }
          }
        }
      }

      .n-card__footer {
        padding: 0;
        height: 40px;
        display: flex;
        column-gap: 5px;
        align-items: center;
        justify-content: center;
      }
    }
  }
}
