.global-chat {
  height: calc(100vh - var(--header-height));

  .loading {
    display: flex;
    height: inherit;
    align-items: center;
    justify-content: center;
  }

  .wrapper {
    .fetchpoint {
      margin-top: 20px;
    }

    .n-scrollbar {
      min-height: calc(
        100vh - var(--header-height) - var(--global-chat-footer-height)
      );
      max-height: calc(
        100vh - var(--header-height) - var(--global-chat-footer-height)
      );

      .n-scrollbar-content {
        padding: 10px 15px 0 8px;
        display: flex;
        row-gap: 25px;
        overflow: auto;
        flex-direction: column-reverse;

        .thread {
          width: 100%;

          .replies {
            margin-top: 10px;
            padding-left: 15px;
            position: relative;
            border-left: 3px dashed gray;

            .load-more-replies-wrapper {
              position: absolute;
            }
          }

          .message {
            margin: 10px 0;
          }
        }
      }
    }

    .footer {
      display: flex;
      align-items: center;
      justify-content: center;
      height: var(--global-chat-footer-height);
    }
  }
}
