.n-page-header-wrapper {
  width: 100%;
  border-bottom: 1px solid silver;

  .content {
    display: flex;
    width: inherit;
    align-items: center;
    justify-content: space-between;

    .label {
      width: 100%;
      font-size: 35px;
      display: inherit;
      margin-left: 10px;
      align-items: center;

      span {
        margin-left: 5px;
      }
    }

    .actions {
      margin-right: 30px;
    }
  }
}
