@import "./variables.css";

@import "./base.css";
@import "./global-chat.css";

@import "./pages/guest.css";
@import "./pages/login.css";

@import "./drawers/notes.css";
@import "./drawers/bundle.css";

@import "./modals/create-bundle/modal.css";
@import "./modals/switch-workspace.css";

@import "./pages/roles.css";
@import "./pages/users.css";
@import "./pages/sign-up.css";
@import "./pages/settings.css";
@import "./pages/dashboard.css";
@import "./pages/workspace/data.css";
@import "./pages/workspace/insights.css";

.n-form {
  .n-form-item {
    &:not(:first-child) {
      margin-top: 20px;
    }
  }
}

.n-tabs {
  .n-tab-pane {
    padding-top: 0 !important;
  }
}

.loading-page {
  height: 100%;

  .wrapper {
    text-align: center;

    .state-error {
      display: flex;
      margin-top: 30px;
      justify-content: center;

      .n-alert {
        max-width: 500px;
      }
    }
  }
}

.empty-section {
  &.n-card {
    .n-card__content {
      display: flex;
      align-items: center;
      justify-content: center;

      .content {
        text-align: center;

        .title {
          font-size: 20px;
        }

        .extra {
          margin-top: 55px;
        }
      }
    }
  }
}

.flex {
  display: flex;
}

.align-items-center {
  align-items: center;
}

.blueprint {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .content {
    display: flex;
    align-items: center;

    .thumbnail {
      width: 15px;
      height: 15px;
      margin-right: 5px;
    }
  }
}

.bundle-status {
  padding: 5px;

  .n-tag__content {
    display: flex;
    column-gap: 5px;
    align-items: center;
  }
}

.note-render-area {
  img {
    height: auto;
    max-width: 100%;
  }
}
