@import "./variables.css";

@import "./base.css";
@import "./pages/guest.css";
@import "./pages/login.css";
@import "./drawers/notes.css";
@import "./pages/dashboard.css";
@import "./pages/workspace/page.css";

.n-form {
  .n-form-item {
    &:not(:first-child) {
      margin-top: 20px;
    }
  }
}

.n-tabs {
  .n-tab-pane {
    padding-top: 0 !important;
  }
}

.loading-page {
  height: 100%;

  .wrapper {
    text-align: center;

    .state-error {
      display: flex;
      margin-top: 30px;
      justify-content: center;

      .n-alert {
        max-width: 500px;
      }
    }
  }
}

.empty-section {
  &.n-card {
    .n-card__content {
      display: flex;
      align-items: center;
      justify-content: center;

      .content {
        text-align: center;

        .title {
          font-size: 20px;
        }

        .extra {
          margin-top: 55px;
        }
      }
    }
  }
}
