.page-header {
  --bottom-border-height: 1px;

  .content {
    display: flex;
    align-items: center;
    border-bottom: var(--bottom-border-height) solid silver;
    height: calc(var(--header-height) - var(--bottom-border-height));

    .label {
      width: 100%;
      font-size: 28px;
      display: inherit;
      margin-left: 10px;
      align-items: center;

      span {
        margin-left: 5px;
      }
    }

    .actions {
      margin-right: 30px;
    }
  }
}
