.page {
  width: 100%;
  margin: 20px;
  height: 100%;
}

.welcome-page {
  .grid {
    display: flex;

    .information {
    }

    .workspaces-wrapper {
      .n-card {
        height: 100%;

        .n-thing {
          .n-thing-main {
            .n-thing-main__content {
              .content {
                .n-input {
                  margin-bottom: 10px;
                }

                .n-data-table {
                  height: 100%;
                  min-height: 300px;

                  .n-data-table__pagination {
                    justify-content: center;
                  }
                }

                .actions {
                  display: flex;
                  margin-top: 20px;
                  justify-content: center;
                }
              }
            }
          }
        }
      }
    }

    .others {
    }
  }
}
