.welcome {
  display: flex;
  height: inherit;
  align-items: center;
  justify-content: center;

  .content {
    text-align: center;

    .icon {
      font-size: 85px;
    }

    .title {
      font-size: 20px;
    }
  }
}
